s<div class="input-control">
  <%= f.label(field, name, :class => "control-lable") %>
  <% options.each do |key,value| %>
    <%= f.radio_button(field, key) %>
    <%= f.label(field.to_s + "_" + key.to_s, value, :class => 'inline') %>
  <% end %>
</div>